@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
   <img src="https://cdn.dribbble.com/users/65090/screenshots/10698745/media/9e58b178346eba080e4877f07b336425.png?compress=1&resize=400x300" alt="dog picture"/>
</div>
